{% extends "sample_app/base.html" %}
{% block content %}
<div class="content-section">
    <a class="form-group" href="{% url 'quiz-create' %}">
        <button type="button" class="btn mt-2 btn-info font-weight-bold ml-30 float-right">Create New Quiz</button>
    </a>
    <h1 class="mb-4">QUIZZES</h1>
    
    <h1 class="mb-4"> </h1>
    {% for item in key %}
        <article class="media content-section">
            <div class="media-body">
                    <h4 class="article-title">
                        <a class="mr-2" href="#">{{ item.quiz_title|capfirst }}</a> 
                        <a class="form-group" href="{% url 'quiz-take' item.id %}">
                            <button type="button" class="btn ml-3 btn-warning font-weight-bold ml-30 float-right">Take Quiz</button>
                        </a>
                        {% if user.is_superuser %}
                            <a class="form-group" href="{% url 'quiz-edit' item.id %}">
                                <button class="btn btn-outline-secondary float-right">Edit</button> 
                            </a>
                        {% endif %}
                    </h4>
            </div>
        </article>
    {% endfor %}
</div>
{% endblock content %}
