{% extends "sample_app/base.html" %}
{% block content %}
<div class="content-section">
    <h1 class="mb-4">Quizzes</h1>
    </a>
    <h1 class="mb-4"> </h1>
    {% for item in key %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h4 class="article-title">
                        <a class="mr-2" href="#">{{ item.quiz_title }}</a>
                        {% for q in item.mcq_questions.all %}
                            <p class="article-content mt-5">{{ q }}</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mcq{{forloop.counter}}">
                                <p class="h6 light">
                                    <label class="form-check-label" for="mcq{{forloop.counter}}">
                                        {{ q.option1 }}
                                    </label>
                                </p>
                                <input class="form-check-input" type="radio" name="mcq{{forloop.counter}}">
                                <p class="h6 light">
                                    <label class="form-check-label" for="mcq{{forloop.counter}}">
                                        {{ q.option2 }}
                                    </label>
                                </p>
                                <input class="form-check-input" type="radio" name="mcq{{forloop.counter}}">
                                <p class="h6 light">
                                    <label class="form-check-label" for="mcq{{forloop.counter}}">
                                        {{ q.option3 }}
                                    </label>
                                </p>
                                <input class="form-check-input" type="radio" name="mcq{{forloop.counter}}">
                                <p class="h6 light">
                                    <label class="form-check-label" for="mcq{{forloop.counter}}">
                                        {{ q.option4 }}
                                    </label>
                                </p>
                            </div>                   
                        {% endfor %}
                        {% for q in item.tof_questions.all %}
                            <p class="article-content mt-5">{{ q }}</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="tof{{forloop.counter}}">
                                <p class="h6 light">
                                    <label class="form-check-label" for="tof{{forloop.counter}}">
                                        True
                                    </label>
                                </p>
                                <input class="form-check-input" type="radio" name="tof{{forloop.counter}}">
                                <p class="h6 light">
                                    <label class="form-check-label" for="tof{{forloop.counter}}">
                                        False
                                    </label>
                                </p>
                            </div>
                        {% endfor %}
                        {% for q in item.identification_questions.all %}
                            <p class="article-content mt-5">{{ q }}</p>
                            <div class="form-group">
                                <label class="h6" for="identification{{forloop.counter}}">Type Your Answer:</label>
                                <textarea class="form-control" id="identification{{forloop.counter}}" rows="1"></textarea>
                            </div>
                        {% endfor %}
                    </h4>
                </div>
            </div>
        </article>
    {% endfor %}
</div>
{% endblock content %}
