{% extends "sample_app/base.html" %}
{% block content %}
{% load static %}

    <style>
        .about
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 130px 2em;
        }
         h1
        {
            text-align: center;
            font-size: large;
            font-weight: bold;
        }
        h2
        {
            text-align: center;
            font-size: medium;
        }
        .card 
        {
            height: 254px;
            width: 254px;
            position: relative;
            transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            border-radius: 1em;
            box-shadow: 0 0 20px 8px #d0d0d0;
        }

        .card-image 
        {
            height: 100%;
            width: 100%;
            position: absolute;
            transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
            background: #36620d;
            background: linear-gradient(to top, #0a941f, #54f442);
        }
        .card-description 
        {
            display: inline-block;
            position: absolute;
            gap: 1em;
            flex-direction: column;
            background-color: #f5f5f5;
            width: 100%;
            height: 70%;
            bottom: 0;
            border-radius: 1em 1em 0 0;
            transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
            padding: 1rem;
        }
        .text-title {
            font-size: 1.4em;
            font-weight: 700;
            text-align: center;
        }

        .text-body {
            font-size: 1em;
            line-height: 150%;
            text-align: center;
        }

        .card:hover .card-description 
        {
            transform: translateY(100%);
        }
    </style>
    <h1 class="h1 text-center">Technological Institute of the Philippines</h1>
    <h2>Department of Computer Engineering</h2>
    <h2>Bachelor of Science in Computer Engineering</h2>

    <div class="about">
        <div class="card">
            <div class="card-image">
                <img class="img-thumbnail" src="{%  static 'sample_app/pictures/s4.jpg' %}" alt="Donayre">
            </div>
              <div class="card-description">
                <p class="text-title">Joshua James Donayre</p>
                <p class="text-body">Intelligence System</p>
              </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="img-thumbnail" src="{%  static 'sample_app/pictures/s5.jpg' %}" alt="Edrosolo">
            </div>
              <div class="card-description">
                <p class="text-title">Asher Ben Edrosolo</p>
                <p class="text-body">System Administration</p>
              </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="img-thumbnail" src="{%  static 'sample_app/pictures/s3.jpg' %}" alt="Licudan">
            </div>
              <div class="card-description">
                <p class="text-title">Jorayne Alieza Licudan</p>
                <p class="text-body">System Administration</p>
              </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="img-thumbnail" src="{%  static 'sample_app/pictures/s2.jpg' %}" alt="Madrid">
            </div>
              <div class="card-description">
                <p class="text-title">Rupert Conrad Madrid</p>
                <p class="text-body">Data Science</p>
              </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="img-thumbnail" src="{%  static 'sample_app/pictures/s1.jpg' %}" alt="Piedad">
            </div>
              <div class="card-description">
                <p class="text-title">John Carl Piedad</p>
                <p class="text-body">Railway Engineering</p>
              </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img class="img-thumbnail" src="{%  static 'sample_app/pictures/DrTaylar.jpg' %}" alt="DrTaylar">
            </div>
              <div class="card-description">
                <p class="text-title">Dr. Jonathan Taylar</p>
                <p class="text-body">Instructor</p>
              </div>
        </div>
    </div>
{% endblock content %}